// Font
@import (css) url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


// Colors
@light_cyan: hsl(193, 38%, 86%);
@neon_green: hsl(150, 100%, 66%);
@grayish_blue: hsl(217deg 19% 38% / 40%);
@dark_grayish_blue: hsl(217deg 17% 18%);

// Typography
@font_size: 1.8rem;
@font_family: 'Manrope', sans-serif;


// Mixins

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
